* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Roboto", sans-serif;
  }
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(252, 248, 243);
    background: linear-gradient(
      214deg,
      rgb(102, 220, 12) 12%,
      rgb(100, 244, 153) 59%,
      rgb(26, 92, 65) 96%
    );
  }

  form {
    background-color: #fff;
  /*   display: none; */
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 30px 30px 30px;
  }
  
  .head {
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Purchase */
  .head h2 {
    font-weight: 700;
    font-size: 2rem;
  }
  
  .head p {
    font-weight: 300;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  /* สีหลักช่องกรอกข้อมูล */
  input {
    border: none;
    background-color: #f3f3f3;
    border-radius: 7px;
    padding: 15px;
    outline: none;
  }

/* สีอักษรในช่อง กรอกข้อมูล */
  input::placeholder {
    font-style: italic;
    font-size: 90%;
    color: #6a6a6a;
  }

  /* พืื้นหลังข้อมูล */
  input:focus {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(3, 5, 0, 0.12), 0 1px 2px rgba(3, 5, 0, 0.12);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  }

  /* ขอบระยะ */
  .bio {
    margin: 15px 0;
  }

  /* พื้นกลัง Submit */
  .Submit{
    background-color: #080808;
  }

  /* สีอักษร */
.s{ 
    color: #fff;
}
.card{
  width: 28rem;
  background-color: rgb(71, 84, 64);
}
